@font-face {
    font-family: emulogic;
    src: url("../fonts/emulogic.ttf");
}

body{
margin-left:381px;
margin-right: 381px;
background-color: rgb(255, 255, 255);
border: 3px;
border-color: rgb(0, 0, 0);
border-style: solid;
}

#gameScreen {
    width: 1152px;
    height: 768px;
    background-color: rgb(0, 0, 0);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


#gameHUD {
    width: 1152px;
    height: 100px;
    margin-bottom: -5px;
    background-color: rgb(78, 78, 78);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}